.go {
    width: 100px;
    height: 100px;
    position: fixed;
    top: 30px;
    right: 30px;
    border-radius: 50%;
    z-index: 1001;
}
.more {
    position: fixed;
    bottom: 80px;
    right: 60px;
    z-index: 1001;
    animation: more01 0.3s linear infinite alternate ;
}
.content {
    width: 900px;
    height: 600px;
    /*background: rgba(0,0,0,.1);*/
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -450px;
}
            /*--------------------------------第一屏开始啦---------------------*/
.screen01 {
    background: url("../images/01-bg.png") no-repeat bottom center;
}
.screen01 .goods {
    text-align: center;
    margin-top: 230px;

}
.screen01 .sofa {
    position: absolute;
    left: 230px;
    top: 150px;
    animation: sofa01 0.8s linear infinite alternate;
}
.screen01 .fly {
    position: absolute;
    right: -50px;
    top: 20px;
    animation: fly01 1s linear infinite alternate;
}
@keyframes fly01 {
    from{
        transform: translateY(-30px);
    }
    to{
        transform: translateY(30px);
    }
}
@keyframes more01 {
    from {
        transform: translateY(-10px);
    }
    to {
        transform: translateY(10px);
    }
}
@keyframes sofa01 {
    from {
        transform: translateY(-20px);
    }
    to {
        transform: translateY(20px);
    }
}

                /*---------------第二屏开始啦--------------------------*/
/*元素位置设置*/
.screen02{
    background: url("../images/02-bg.png") no-repeat center bottom;
}
.screen02 .goods{
    position: absolute;
    left: 50%;
    margin-left: -220px;
    bottom: 210px;
    transform-origin: right bottom;
    transform: scale(0);
}
.screen02 .sofa{
    transform: scale(0.5);
    position: absolute;
    left: 292px;
    top: 132px;
    opacity: 0;
    z-index: 1001;
}
.screen02 .input{
    position: absolute;
    right: 171px;
    top: 120px;
    transform-origin: right top;
    opacity: 0;
}
.screen02 .input .search{

}
.screen02 .input .key{
    position: absolute;
    left: 100px;
    top: 4px;
    opacity: 0;
}
.screen02 .text{
    text-align: center;
}
.screen02 .text .text01{}
.screen02 .text .text02{
    position: absolute;
    opacity: 0;
}
/*页面动画*/
.screen02.now .text .text01{
    position: absolute;
    opacity: 0;
}
.screen02.now .text .text02{
    position: static;
    opacity: 1;
    transition: opacity 1s;
}
.screen02.now .input{
    animation: input02 3s linear forwards;
}
.screen02.now .input .key{
    opacity: 1;
    transition: all 1s linear 1s;
}
.screen02.now .goods{
    transform: none;
    transition: all 1s linear 2s;
}

@keyframes input02 {
    0%{
        opacity: 1;
        transform: translate(2000px,130px);
    }
    33.3%{
        transform: translate(-180px,130px);
    }
    67%{
        transform: translate(-180px,130px);
    }
    100%{
        opacity: 1;
        transform: scale(0.7);
    }
}
.screen02.leaved .sofa{
    animation: sofa02 0.7s linear;
}
@keyframes sofa02 {
    from{
        opacity: 1;
    }
    to{
        opacity: 1;
        transform: translate(-80px,900px);
    }
}

                /*=======================第三屏开始啦================================*/
.screen03{
    background: url("../images/03-bg.png") no-repeat center bottom;
}
.screen03 .sofa{
    position: absolute;
    left:212px;
    top:180px;
    display: none;
}
.screen03 .change{
    position: absolute;
    right: 115px;
    bottom: 170px;
}
.screen03 .change img:last-child {
    position: absolute;
    opacity: 0;
}
.screen03 .cart{
    position: absolute;
    right: 192px;
    bottom: 100px;
}
.screen03 .cart img:last-child{
    position: absolute;
    opacity: 0;
}
.screen03.now .change img:first-child{
    display: none;
}
.screen03.now .change img:last-child{
    position: static;
    opacity: 1;
    transition: all 1s linear;
}
.screen03.now .cart img:first-child{
    display: none;
}
.screen03.now .cart img:last-child{
    position: static;
    opacity: 1;
    transition: all 1s linear;
}
.screen03.now .sofa{
    display: block;
    z-index: 1001;
}
.screen03.leaved .sofa{
    animation: sofa03 0.7s linear;
}
@keyframes sofa03 {
    from{}
    to{
        transform: translate(190px,820px) rotate(45deg);
    }
}

                /*===========================第四屏开始啦========================*/
.screen04{
    background: url("../images/04-bg.png") no-repeat center bottom;
}
.screen04 .cloud{
    position: absolute;
    left: -350px;
    top: -200px;
    animation: cloud04 20s linear infinite alternate;
}
@keyframes cloud04 {
    from{}
    to{
        transform: translateX(1000px);
    }
}
.screen04 .text{
    text-align: center;
    margin-top: 120px;
}
.screen04 .text img:last-child{
    position: absolute;
    opacity: 0;
}
.screen04 .text.show img:first-child{
    position: absolute;
    opacity: 0;
}

.screen04 .text.show img:last-child{
    position: static;
    opacity: 1;
    transition: all 1s linear;
}

.screen04 .cart{
    text-align: center;
    margin-top: 70px;
    position: relative;
    z-index: 1002;
}
.screen04 .sofa{
    position: absolute;
    top: 200px;
    left:420px;
    transform: rotate(45deg);
    opacity: 0;
}
.screen04 .address{
    position: absolute;
    width: 283px;
    height:270px;
    left:50%;
    transform: translateX(-50%);
    bottom: 150px;
    display: none;
}
.screen04 .address img:last-child{
    position: absolute;
    top:60px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    display: none;
}
.screen04.now .sofa{
    opacity: 1;
    animation: sofaLeave04 3s linear 0.3s forwards;
}
.screen04.now .cart{
    animation: cartLeave04 3s linear 0.3s forwards;
}
@keyframes sofaLeave04 {
    0%{
        transform: translateX(-80px) rotate(45deg);
    }
    20%{
        transform: translateX(80px) rotate(45deg);
    }
    40%{
        transform: translateX(-80px) rotate(45deg);
    }
    60%{
        transform: translateX(80px) rotate(45deg);
    }
    80%{
        transform: translateX(-300px) rotate(45deg);
    }
    100%{
        transform: translateX(1500px) rotate(45deg);
    }
}
@keyframes cartLeave04 {
    0%{
        transform: translateX(-80px);
    }
    20%{
        transform: translateX(80px);
    }
    40%{
        transform: translateX(-80px);
    }
    60%{
        transform: translateX(80px);
    }
    80%{
        transform: translateX(-300px);
    }
    100%{
        transform: translateX(1500px);
    }
}

        /*========================第五屏开始啦===============================*/
.screen05{
    background: url("../images/05-bg.png");
}
.screen05 .sofa{
    position: absolute;
    bottom: 100px;
    left: 100px;
    transform: rotate(30deg);
    opacity: 0;
    z-index: 1001;
}
.screen05 .card{
    position: absolute;
    left: 0;
    bottom: 210px;
    z-index: 1002;
}
.screen05 .card .cardImg{
    position: relative;
    z-index: 1;
}
.screen05 .card .orderImg{
    position: absolute;
    left: 130px;
    top: -80px;
    transform: translateY(80px);
}
.screen05 .content{
    height: 100%;
}
.screen05 .mouse{
    position: absolute;
    right: 0;
    top: 0;
    overflow: hidden;
    height: 100%;
    width: 400px;
}
.screen05 .mouse .m1,.screen05 .mouse .m2{
    position: absolute;
    bottom: 240px;
    right: 0;
}
.screen05 .mouse .m2{
    opacity: 0;
}
.screen05 .mouse .hand{
    position: absolute;
    bottom: 0;
    right: 50px;
    transform: translateY(500px);
}
.screen05 .text{
    position: absolute;
    bottom: 550px;
    left: 0;
}

.screen05.now .mouse .hand{
    transition: all 1s linear;
    transform: none;
}
.screen05.now .mouse .m2{
    transition: all 0.2s linear 1s;
    opacity: 1;
}
.screen05.now .sofa{
    animation: sofa05 2s linear 1.2s forwards;
}
@keyframes sofa05 {
    from{
        transform: translateY(-1000px) rotate(30deg);
        opacity: 1;
    }
    50%{
        transform: translateY(-150px) rotate(30deg);
    }
    100%{
        transform: rotate(30deg);
        opacity: 1;
    }
}
.screen05.now .card .orderImg{
    
    transition: all 1s linear 2.2s;
    transform: none;
}


                /*=====================第六屏开始啦======================*/
.screen05.leaved .sofa{
    animation: sofa05-06 1s linear;
}
@keyframes sofa05-06 {
    from{
        opacity: 1;
        transform: rotate(30deg);
    }
    to{
        opacity: 1;
        transform: translateY(600px) scale(0.2) rotate(30deg);
    }
}

.screen06{
    background: url("../images/06-bg.png") no-repeat -200px bottom;
}
.screen06.now{
    transition: background 1s linear 1s;
    background: url("../images/06-bg.png") no-repeat -780px bottom;
}
.screen06 .cloud{
    position: absolute;
    top: -50px;
    left: 0;
}
.screen06 .cloud img:first-child{
    animation: cloud06 40s linear infinite alternate;
}
.screen06 .cloud img:last-child{
    position: absolute;
    top: 0;
    left: 0;
    animation: cloud06 20s linear infinite alternate;
}
@keyframes cloud06 {
    from{
    }
    to{
        transform: translateX(1000px);
    }
}

.screen06 .text{
    position: absolute;
    top: 80px;
    left: 140px;
}
.screen06 .text img:last-child{
    position: absolute;
    opacity: 0;
    left: 0;
    top: 0;
}
.screen06 .box{
    position: absolute;
    top: 150px;
    left: 140px;
    z-index: 1002;
}
.screen06 .box.show{
    animation: box06 2s linear forwards;
}
@keyframes box06 {
    from{
        transform: translateX(-500px);
    }
    50% {
        transform: none;
    }
    to{
        transform: translateY(330px) scale(0.3);
    }
}

.screen06 .car{
    position: absolute;
    bottom: 0;
    left: 100px;
    z-index: 1003;
    width: 221px;
    height: 122px;
}

.screen06 .car img{
    position: absolute;
    opacity: 0;
}
.screen06 .car .carImg{
    opacity: 1;
    position: relative;
}
.screen06 .car .buyer{
    left: 160px;
    top: -50px;
}
.screen06 .car .address{
    left: 160px;
    top: -50px;
}
.screen06.now .car .buyer{
    transition: all 0.25s 1.25s;
    opacity: 1;
}
.screen06.now .car .address{
    transition: all 0.25s 1.75s;
    opacity: 1;
}
.screen06 .car .worker{
    left: 0;
    bottom: 0;
    opacity: 1;
    transform: scale(0);
    transform-origin: left bottom;
}
.screen06.now .car .worker{
    animation: worker06 2.1s linear 2s forwards;
}
.screen06.now .text img:first-child{
    opacity: 0;
    transition: all 0.1s linear 4.6s;
}
.screen06.now .text img:last-child{
    opacity: 1;
    transition: all 1s linear 4.6s;
}
@keyframes worker06 {
    0%{
        opacity: 1;
    }
    33.3%{
        transform: scale(1);
    }
    66.7%{
        transform: scale(1) translateY(-100px);
    }
    100%{
        opacity: 1;
        transform: scale(1) translateY(-100px) translateX(200px);
    }
}

.screen06 .car .say{
    right: -280px;
    top: -400px;
}
.screen06.now .car .say{
    opacity: 1;
    transition: all 0.5s linear 4.1s;
}
.screen06 .person{
    width: 106px;
    height: 150px;
    position: absolute;
    right: 50px;
    bottom: 116px;
}
.screen06 .person .door{
    position: absolute;
    right:-182px;
    bottom: 0;
    opacity: 0;
}
.screen06 .person .personImg{
    position: absolute;
    right: -182px;
    bottom: 0;
    transform-origin: right bottom;
    transform: scale(0);
    z-index: 1004;
}
.screen06.now .person .door{
    opacity: 1;
    transition: all 0.4s linear 4.6s;
}
.screen06.now .person .personImg{
    transform: none;
    right: 150px;
    transition: transform 0.5s linear 5s,right 0.5s linear 5.5s;
}

                    /*==================第七屏开始啦=================*/

.screen07{
    background: url("../images/07-bg.png") no-repeat center bottom;
}
.screen07 .star{
    position: absolute;
    left:152px;
    top: 142px;
}
.screen07 .star img{
    float: left;
    margin-left: 6px;
    opacity: 0;
}
.screen07 .star.show .img07-1{
     opacity: 1;
     transition: opacity 0.4s linear 1s;
 }
.screen07 .star.show .img07-2{
    opacity: 1;
    transition: opacity 0.4s linear 1.3s;
}
.screen07 .star.show .img07-3{
    opacity: 1;
    transition: opacity 0.4s linear 1.6s;
}
.screen07 .star.show .img07-4{
    opacity: 1;
    transition: opacity 0.4s linear 1.9s;
}
.screen07 .star.show .img07-5{
    opacity: 1;
    transition: opacity 0.4s linear 2.2s;
}
.screen07 .text{
    position: absolute;
    left: 160px;
    top: 180px;
    transform-origin: left bottom;
    transform: scale(0);
}
.screen07 .text.show{
    animation: text07 2s linear forwards 2.6s;
}
@keyframes text07 {
    0%{
        transform: scale(0.8);
    }
    25%{
        transform: scale(1.1);
    }
    50%{
        transform: scale(0.9);
    }
    75%{
        transform: scale(1.1);
    }
    100%{
        transform: none;
    }
}

            /*==========================第八屏开始啦============================*/

.screen08 {
    background: url("../images/08-bg.png") ;
}
.screen08 .btn{
    display: block;
    width: 389px;
    height: 160px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.screen08 .btn img:last-child{
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}
.screen08 .btn:hover img:last-child{
    opacity: 1;
}
.screen08 .again{
    display: block;
    position: absolute;
    top: 80px;
    right: 0;
}
.screen08 .hand{
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translate(-50%);

}